@import url("");
@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Saira Semi Condensed", sans-serif; }

ul {
  display: flex; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.home-body {
  background: url("/dist/img/Naruto-Backgrounds-1.jpg") no-repeat center center/cover border-box; }

#header-home {
  background: rgba(245, 169, 29, 0.6); }
  #header-home #main-nav {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 40rem) {
      #header-home #main-nav {
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        height: 6.5rem; } }
    #header-home #main-nav #logo {
      margin: 0.2rem;
      height: 50px;
      width: 180px; }
      @media (max-width: 40rem) {
        #header-home #main-nav #logo {
          justify-self: center;
          margin: 0.5rem; } }
    #header-home #main-nav ul {
      width: 30rem;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      #header-home #main-nav ul .current {
        background-color: #251700ff;
        color: #eeae29ff; }
      #header-home #main-nav ul a {
        color: #251700ff;
        padding: 0.3rem;
        border-radius: 10px;
        font-size: 1.5rem;
        transition: color 0.5s, background-color 0.5s ease-in-out; }
        @media (max-width: 40rem) {
          #header-home #main-nav ul a {
            font-size: 1.2rem; } }
        #header-home #main-nav ul a:hover {
          background-color: #251700ff;
          color: #eeae29ff; }
        #header-home #main-nav ul a:active {
          background-color: #251700ff;
          color: #eeae29ff; }

.main-nav {
  color: #f7f7f7ff;
  text-shadow: 5px 5px 12px black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main-nav h1 {
    margin-bottom: 1.5rem;
    background: rgba(2, 2, 2, 0.2);
    box-shadow: 5px 5px 15px black;
    text-align: center; }
  .main-nav h2 {
    background: rgba(2, 2, 2, 0.4);
    box-shadow: 5px 5px 15px black;
    text-align: center; }

.container-footer {
  background-color: #eeae29ff;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-footer {
  width: 15rem;
  height: 5rem;
  background-color: #eeae29ff;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "derecho derecho derecho" "twitter facebook instagram"; }
  .main-footer .main-footer__h2 {
    font-size: 1rem;
    margin-top: 0.5rem;
    grid-area: derecho;
    justify-self: center; }
  .main-footer a:hover {
    background: gray;
    border-radius: 30%;
    width: 10%;
    color: #f7f7f7ff; }
  .main-footer .main-footer__twitter {
    grid-area: twitter;
    color: black;
    transition: color 0.4s ease-out; }
  .main-footer .main-footer__facebook {
    grid-area: facebook;
    color: black;
    transition: color 0.4s ease-out; }
    .main-footer .main-footer__facebook:hover {
      color: #f7f7f7ff; }
  .main-footer .main-footer__instagram {
    grid-area: instagram;
    color: black;
    transition: color 0.4s ease-out; }
    .main-footer .main-footer__instagram:hover {
      color: #f7f7f7ff; }

.history-body {
  background: url("/dist/img/Naruto-Backgrounds-1.jpg") no-repeat center center/cover border-box; }

.main-nav__history {
  display: flex;
  justify-content: space-between;
  align-items: stretch; }
  .main-nav__history h2 {
    background: rgba(22, 22, 21, 0.4);
    color: #f7f7f7ff;
    -webkit-text-stroke: 0.5px black;
    margin: auto;
    text-align: center; }

.img-rotation {
  box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 12rem;
  animation: wiggle 400ms 2s 8 alternate none; }
  @media (max-width: 51rem) {
    .img-rotation {
      display: none; } }

@keyframes wiggle {
  15% {
    transform: rotateY(51deg); }
  30% {
    transform: rotateY(102deg); }
  45% {
    transform: rotateY(153deg); }
  60% {
    transform: rotateY(204deg); }
  75% {
    transform: rotateY(255deg); }
  90% {
    transform: rotateY(306deg); }
  100% {
    transform: rotateY(360deg); } }

.eb-body {
  background: linear-gradient(0deg, #645b53 0%, #eb5252 18.23%, #f78f2f 34.37%, #f4c151 48.96%, #52bb76 66.15%, #26a5d7 82.29%, #e069b7 100%); }

.main-nav__eb--container {
  margin: 1rem;
  display: grid;
  grid-gap: 2rem;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 30rem);
  grid-template-areas: "v1 v1 t1 t1" "v2 v2 t2 t2" "v3 v3 t3 t3" "v4 v4 t4 t4" "v5 v5 t5 t5" "v6 v6 t6 t6" "v7 v7 t7 t7" "v8 v8 t8 t8" "v9 v9 t9 t9" "v10 v10 t10 t10"; }
  @media (max-width: 40rem) {
    .main-nav__eb--container {
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(20, auto);
      grid-template-areas: "t1 t1" "v1 v1" "t2 t2" "v2 v2" "t3 t3" "v3 v3" "t4 t4" "v4 v4" "t5 t5" "v5 v5" "t6 t6" "v6 v6" "t7 t7" "v7 v7" "t8 t8" "v8 v8" "t9 t9" "v9 v9" "t10 t10" "v10 v10"; } }
  .main-nav__eb--container h1 {
    font-size: 1.5rem; }
  .main-nav__eb--container .video-1 {
    grid-area: v1; }
  .main-nav__eb--container .txt-1 {
    grid-area: t1; }
    @media (max-width: 40rem) {
      .main-nav__eb--container .txt-1 {
        text-align: center; } }
  .main-nav__eb--container .video-2 {
    grid-area: v2; }
  .main-nav__eb--container .txt-2 {
    grid-area: t2; }
    @media (max-width: 40rem) {
      .main-nav__eb--container .txt-2 {
        border-top: 3px dotted #414547;
        text-align: center; } }
  .main-nav__eb--container .video-3 {
    grid-area: v3; }
  .main-nav__eb--container .txt-3 {
    grid-area: t3; }
    @media (max-width: 40rem) {
      .main-nav__eb--container .txt-3 {
        border-top: 3px dotted #414547;
        text-align: center; } }
  .main-nav__eb--container .video-4 {
    grid-area: v4; }
  .main-nav__eb--container .txt-4 {
    grid-area: t4; }
    @media (max-width: 40rem) {
      .main-nav__eb--container .txt-4 {
        border-top: 3px dotted #414547;
        text-align: center; } }
  .main-nav__eb--container .video-5 {
    grid-area: v5; }
  .main-nav__eb--container .txt-5 {
    grid-area: t5; }
    @media (max-width: 40rem) {
      .main-nav__eb--container .txt-5 {
        border-top: 3px dotted #414547;
        text-align: center; } }
  .main-nav__eb--container .video-6 {
    grid-area: v6; }
  .main-nav__eb--container .txt-6 {
    grid-area: t6; }
    @media (max-width: 40rem) {
      .main-nav__eb--container .txt-6 {
        border-top: 3px dotted #414547;
        text-align: center; } }
  .main-nav__eb--container .video-7 {
    grid-area: v7; }
  .main-nav__eb--container .txt-7 {
    grid-area: t7; }
    @media (max-width: 40rem) {
      .main-nav__eb--container .txt-7 {
        border-top: 3px dotted #414547;
        text-align: center; } }
  .main-nav__eb--container .video-8 {
    grid-area: v8; }
  .main-nav__eb--container .txt-8 {
    grid-area: t8; }
    @media (max-width: 40rem) {
      .main-nav__eb--container .txt-8 {
        border-top: 3px dotted #414547;
        text-align: center; } }
  .main-nav__eb--container .video-9 {
    grid-area: v9; }
  .main-nav__eb--container .txt-9 {
    grid-area: t9; }
    @media (max-width: 40rem) {
      .main-nav__eb--container .txt-9 {
        border-top: 3px dotted #414547;
        text-align: center; } }
  .main-nav__eb--container .video-10 {
    grid-area: v10; }
  .main-nav__eb--container .txt-10 {
    grid-area: t10; }
    @media (max-width: 40rem) {
      .main-nav__eb--container .txt-10 {
        border-top: 3px dotted #414547;
        text-align: center; } }

.contact-body {
  background: url("/dist/img/naruto-contact-background.jpg") no-repeat center center/cover border-box; }
  @media (max-width: 40rem) {
    .contact-body {
      background: url("/dist/img/naruto-contact-background.jpg") right 13% bottom 50%; } }

#contact-a h2,
#contact-a p {
  text-align: center;
  margin: 1rem; }

#contact-a .text-fields {
  display: grid;
  grid-template-areas: "name email" "subject phone" "message message" "submit submit";
  grid-gap: 1.2rem;
  margin: 1rem; }
  #contact-a .text-fields .name-input {
    grid-area: name; }
  #contact-a .text-fields .subject-input {
    grid-area: subject; }
  #contact-a .text-fields .email-input {
    grid-area: email; }
  #contact-a .text-fields .phone-input {
    grid-area: phone; }
  #contact-a .text-fields .message-input {
    grid-area: message;
    height: 100px; }
  #contact-a .text-fields .text-input {
    padding: 0.5rem 1rem; }
  #contact-a .text-fields .btn-dark {
    grid-area: submit;
    justify-self: center; }
    #contact-a .text-fields .btn-dark .submit-btn {
      width: 20rem;
      background: #251700ff;
      padding: 0.8rem 2rem;
      transition: all 0.5s;
      border: none;
      cursor: pointer;
      color: #eeae29ff; }
      @media (max-width: 40rem) {
        #contact-a .text-fields .btn-dark .submit-btn {
          background: #eeae29ff;
          color: #251700ff; } }
      #contact-a .text-fields .btn-dark .submit-btn:hover {
        background-color: #f7f7f7ff;
        color: #251700ff; }
        @media (max-width: 40rem) {
          #contact-a .text-fields .btn-dark .submit-btn:hover {
            background: #251700ff;
            color: #eeae29ff; } }

#contact-b .contact-info {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; }
  @media (max-width: 40rem) {
    #contact-b .contact-info {
      width: 100%;
      margin: 0;
      text-align: center;
      color: #251700ff;
      background: rgba(245, 169, 29, 0.6);
      border-radius: 4px;
      padding: 0.5rem; } }
